export(BiodiversityRGUI,check.datasets,check.ordiscores,spatialsample,makecommunitydataset,import.from.Excel,import.from.Access,removeNAcomm,removeNAenv,subsetcomm,removezerospecies,balanced.specaccum,accumresult,accumplot,accumcomp,diversityresult,diversitycomp,rankabundance,radfitresult,rankabunplot,rankabuncomp,renyiresult,renyiplot,renyicomp,deviancepercentage,residualssurface,crosstabanalysis,dist.zeroes,dist.eval,PCAsignificance,add.spec.scores,NMSrandom,nnetrandom,ordibubble,ordisymbol,ordihull.centroids,ordispider.centroids,ordicluster2,ordinearest,ordivector,ordiequilibriumcircle,distdisplayed,ordicoeno,CAPdiscrim,caprescale,multiconstrained,disttransform,same.sites,loaded.citations,nested.anova.dbrda,nested.npmanova)






